In [1]:
import pandas as pd
import netCDF4 as nc
import math

In [2]:
# NetCDF 파일 열기
file_path = "data/NOAA_drifter_2005.nc"
dataset = nc.Dataset(file_path, "r")

In [3]:
lon = pd.DataFrame(dataset["lons"][:])
lat = pd.DataFrame(dataset["lats"][:])
time = pd.DataFrame(dataset["times"][:])

In [4]:
lon = lon.fillna(0)
lat = lat.fillna(0)

In [5]:
for i in range(31):
    for j in range(1412):
        if lon.iloc[i][j] == 0:
            print(i,j-1,lon.iloc[i][j-1])
            break

0 395 136.63400268554688
1 623 138.13999938964844
2 74 132.50999450683594
3 70 132.89100646972656
4 424 139.60800170898438
5 749 139.83999633789062
6 474 141.28900146484375
7 432 142.31300354003906
8 673 140.20799255371094
9 688 139.26400756835938
10 306 139.99200439453125
11 452 140.77200317382812
12 137 128.93499755859375
13 579 130.80099487304688
14 282 131.197998046875
15 1386 148.4010009765625
16 211 128.39599609375
17 470 139.76400756835938
19 938 142.51699829101562
20 493 140.53900146484375
21 299 132.23899841308594
22 272 133.28500366210938
23 256 133.32000732421875
24 182 133.2010040283203
25 228 133.91600036621094
26 994 131.47900390625
27 765 139.80799865722656
28 204 133.80499267578125
29 182 132.85899353027344
30 1165 147.41700744628906

In [6]:
for i in range(31):
    for j in range(1412):
        if lat.iloc[i][j] == 0:
            print(i,j-1,lat.iloc[i][j-1])
            break

0 395 36.80500030517578
1 623 37.20199966430664
2 74 35.277000427246094
3 70 35.55699920654297
4 424 38.784000396728516
5 749 40.35200119018555
6 474 37.50299835205078
7 432 41.29600143432617
8 673 42.89500045776367
9 688 40.63199996948242
10 306 40.18000030517578
11 452 41.327999114990234
12 137 37.805999755859375
13 579 37.472999572753906
14 282 37.5620002746582
15 1386 45.4379997253418
16 211 39.986000061035156
17 470 42.30500030517578
19 938 45.19300079345703
20 493 41.292999267578125
21 299 35.233001708984375
22 272 35.595001220703125
23 256 35.72100067138672
24 182 36.33399963378906
25 228 35.80400085449219
26 994 42.85200119018555
27 765 40.02799987792969
28 204 35.52799987792969
29 182 37.233001708984375
30 1165 44.19599914550781

In [7]:
for i in range(31):
    for j in range(1412):
        if time.iloc[i][j] < 0:
            print(i,j-1,time.iloc[i][j-1])
            break

0 395 150.0
1 623 207.25
2 74 71.0
3 70 70.0
4 424 199.5
5 749 280.75
6 474 212.0
7 432 231.5
8 673 321.75
9 688 325.5
10 306 274.5
11 452 351.25
12 137 272.75
13 579 384.25
14 282 322.5
15 1386 635.5
16 211 341.75
17 470 406.75
19 938 548.0
20 493 437.5
21 299 389.0
22 272 389.5
23 256 385.5
24 182 369.75
25 228 381.25
26 994 576.0
27 765 538.75
28 204 398.5
29 182 393.0
30 1165 639.0

In [8]:
drifter = []
t = []
longitude = []
latitude =[]

In [9]:
for i in range(31):
    for j in range(1412):
        if lon.iloc[i][j] == 0:
            break
        else:
            drifter.append(i)
            t.append(time.iloc[i][j])
            longitude.append(lon.iloc[i][j])
            latitude.append(lat.iloc[i][j])

In [10]:
print(len(drifter))
print(len(t))
print(len(longitude))
print(len(latitude))

15845
15845
15845
15845

In [11]:
data = {
    "drifter" : drifter,
    "time" : t,
    "longitude" : longitude,
    "latitude" : latitude
}
columns = ["drifter","time","longitude","latitude"]
total = pd.DataFrame(data, columns = columns)
total

       drifter    time   longitude   latitude
0            0   51.25  129.311005  34.950001
1            0   51.50  129.401993  35.020000
2            0   51.75  129.514008  35.061001
3            0   52.00  129.524002  35.032001
4            0   52.25  129.626007  35.083000
...        ...     ...         ...        ...
15840       30  638.00  147.348999  44.167999
15841       30  638.25  147.307007  44.138000
15842       30  638.50  147.250000  44.146999
15843       30  638.75  147.322998  44.201000
15844       30  639.00  147.417007  44.195999

[15845 rows x 4 columns]

In [12]:
total.describe()

            drifter          time     longitude      latitude
count  15845.000000  15845.000000  15845.000000  15845.000000
mean      15.864689    341.417719    134.246013     38.413778
std        8.614415    140.713707      3.625214      2.461913
min        0.000000     51.250000    125.299004     33.140999
25%        9.000000    240.000000    131.235992     36.625000
50%       16.000000    347.750000    133.815002     37.912998
75%       23.000000    436.000000    136.531998     39.632000
max       30.000000    666.000000    148.697998     46.507000

In [13]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15845 entries, 0 to 15844
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   drifter    15845 non-null  int64
 1   time       15845 non-null  float64
 2   longitude  15845 non-null  float64
 3   latitude   15845 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 495.3 KB

In [14]:
total.to_csv("data/total.csv",index = False)